

a[href^="#"] {
  color: black;
  font-weight: bold;
}

div[class="row-widgetstSelectbox"] {
  font-weight: 900;
}

a[label] {
  color: black;
  font-weight: 900;
}

div[class="st-b7"] {
  font-weight: bold;
}

div[class="st-ae st-af st-ag st-ah st-ai st-aj st-ak st-al st-am st-ba st-ao st-ap st-aq st-ar st-as st-at st-au st-av st-aw st-ax st-ay st-az st-b9 st-b1 st-b2 st-b3 st-b4 st-b5 st-b6"] {
  opacity: 1.1;
  background-color: white;
}


div[class="streamlit-expanderHeader st-ae st-et st-ag st-ah st-ai st-aj st-bp st-d4 st-cc st-eu st-ev st-ew st-ex st-as st-at st-cq st-ci st-ey st-cg st-ez st-b4 st-by st-ch st-f0 st-b5 st-f1 st-ce st-cf st-cd"] {
  font-weight: 600;
  color: black;
}


/*.row-widget.stRadio:first-of-type {
  flex-direction:column;
}

.row-widget.stRadio:last-of-type {
  flex-direction:row;
}
*/

div[role="radiogroup"] {
  font-weight: bold;
}

label[data-baseweb="radio"] {
  font-weight: bold;
}

.stSlider {
  font-weight: 900;
  font-size: 22px;
}

.row-widget.stRadio {
  font-weight: 900;
  font-size: 22px;
}

.row-widget.stSelectbox {
  font-weight: 900;
  font-size: 22px;
}

.row-widget.stMultiSelect {
  font-weight: 900;
  font-size: 22px;
}

div[class="st-do st-dt st-bp st-ae st-af st-ag st-ah st-ai st-aj st-bc st-du"] {
  font-weight: bold;
  font-size: 17px;
}

div[class="st-d1 st-da st-br st-ae st-af st-ag st-ah st-ai st-aj st-db st-dc"] {
  font-weight: bold;
  font-size: 17px;
}

div[class="st-by st-df st-dg st-dh st-di st-dj st-az st-b4 st-dk st-dl st-dm st-ci st-dn st-c5 st-ch st-do st-dp st-cy st-b2 st-bo"] {
  color: #BE0000;
  background-color: #BE0000;
}

.span {
  font-weight: bold;
}

span[data-baseweb="tag"] {
  color: white;
  background-color: #BE0000;
}

div[role="slider"] {
  color: #BE0000;
  background-color: #BE0000;
}


div[data-testid="stThumbValue"] {
  color: #BE0000;
  font-weight: bold;
}

div[class="css-demzbm e88czh83"] {
  color: #BE0000;
  background-color: #BE0000;
}

